@model EmployeeManagementSystem1.Models.Employee

<h2>Add Employee</h2>

<form asp-controller="Employees" asp-action="Create" method="post">
    <div class="form-group mb-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group mb-2">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group mb-2">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
